<h1><%= @post.title %></h1>

<% if @post.summary %>
  <h3><%= @post.summary.description %> </h3>
<% else %>
  <%= link_to "Create summary for the post", new_topic_post_summary_path(@topic, @post) %>
<% end %>

<div class="row">

  <div class="col-md-8">
    <p><%= @post.body %></p>
  </div>
  <div class="col-md-4">
    <% if policy(@post).edit? %>
      <%= link_to "Edit", edit_topic_post_path(@topic, @post), class: 'btn btn-success' %>
    <% end %>
  </div>

</div
